/*

  Extending/overriding PureCSS styles

  I've removed the breakpoints under 80em / 1280px

  So, default is "mobile" with .pure-u-*

  To target desktop view specifically, I use .pure-u-xl-*


*/



body {
  background: #2e2a24;
  color: #5ee081;
  font-size: 150%;
}

.custom-bordered {
 border-top: 1px solid rgba(0,0,0,0.3);
 border-bottom: 1px solid rgba(0,0,0,0.3);
 padding: 2em 20px 2em;
}

.custom-code-sh {
 background: black;
 color: #5ee081;
 border: 1px solid white;
 padding: 1em;
 margin-top: 1em;
 display: block;
 font-family: "Lucida Console", Monaco, monospace;
}

.center {
  text-align: center;
  /* justify-content: center; */
}

p {
  color: white;
}

.big-bottom-margin {
 margin: 2em 20px 2em;
}

.big-top-margin {
 margin-top: 3em;
}

.custom-site-logo {
  color: #5ee081;
  text-transform: none;
}

.custom-app-description {
  padding-right: 2em;
}

.question {
  color: #fcfc7c;
  margin-bottom: 1em;
  font-style: oblique;
}

.question span {
  color: #5ee081;
}

.answer {
  color: white;
  margin-bottom: 3em;
}

.answer span {
  color: yellow;
}

.faq {
  list-style: none;
}

a {
  color: #5ee081;
  text-decoration: underline dotted white;

}

.custom-contact-form {
  background: white;
  padding: 2em;
  color: black;
  border-radius: 1em;
}

.custom-contact-form > fieldset {
  line-height: 3em;
}

.custom-contact-form  input, .custom-contact-form button, .custom-contact-form textarea {
  width: 100%;
}

.custom-footer > p {
  font-size: 50%;
  margin-bottom: 2em;
}

.pure-hidden-mobile {
  visibility: hidden;
}

/* pure-hidden-xl */
@media screen and (min-width:80em) {
  .pure-hidden-mobile {
    visibility: visible;
  }
}
